*
{
    margin: 0;
    padding: 0;
    background: rgb(200, 224, 198);
}
#padre
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/*PRIMERA VENTANA*/
#first
{
    flex: 1;
    display: flex;
}
#key
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#keyNumber h1
{
    background-color: #085347;
    color: #ffffff;
    padding: 0.7rem 0;
    text-align: center;
    box-sizing: border-box;
    border: 0.1rem solid rgb(13, 66, 6);
    width: 100%;
    font-size: 0.6em;
}
#keyNumber button
{
    box-sizing: border-box;
    padding: 0.7rem 0;
    font-size: 1.2rem;
}
#keyNumber
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
}
.number
{
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #ffffff;
    background: rgb(105, 151, 111);
    border: 0.1rem solid #012415;
}
.resize
{
    box-sizing: border-box;
    height: 100%;
    width: 10%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    font-size: 2em;
}
/*SECUNDA VENTANA*/
#second
{
    width: 90%;
}
#headerTwo{
    background: rgb(139, 161, 137);
    display: flex;
    flex-direction: column-reverse;
}
#headerTwo p{
    background: rgb(139, 161, 137);
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.4rem;
    color: rgb(245, 241, 241);
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    font-family: 'Cinzel', serif;
}
#second h1
{
    background: rgb(139, 161, 137);
    text-align: center;
    margin: 5rem;
    margin-top: 3.5rem;
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    color: rgb(188, 243, 184);
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#encrypt
{
    background: rgb(139, 161, 137);
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*Cuerpo de la segunda ventana*/
#secondBody
{
    background:rgb(240, 236, 236);
    display: flex;
    flex-direction: column;
}
#secondBody p
{
    background: rgb(212, 230, 214);
    text-align: center;
    margin: 2.5rem 0.1rem;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-top: 0.5rem  solid rgb(192, 219, 185);
    border-bottom: 0.5rem  solid rgb(192, 219, 185);
}

.text
{
    border: 0.25rem solid rgb(13, 66, 6);
    font-size: 1.4rem;
    font-family: 'Source Code Pro', monospace;
    background: #ffffff;
    margin: 3rem auto 0 auto;
    min-width: 90%;
    max-width: 90%;
    min-height: 15rem;
    max-height: 15rem;
    resize: none; /*MIERDA AL FIN LO LOGREE!!!!*/
    padding: 0.5rem;
}
#button
{
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    background:rgb(240, 236, 236);
}
.button
{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(105, 180, 99);
    border: 0.12rem solid #053a19;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    box-sizing: border-box;
}
/*---------MEDIA QUERIES----------------*/
@media (max-width: 580px) { 
    #keyNumber h1{
        font-size: 0.4em;
    }
    #second h1{
        font-size: 3.1rem;
    }
    #button{
        padding: 0 0.3rem;
    }
 }

/*-----------JS-----------*/
.error
{
    border: 0.5rem solid rgb(177, 61, 67);
    font-size: 1.4rem;
    font-family: 'Source Code Pro', monospace;
    background: #ffffff;
    margin: 3rem auto 0 auto;
    min-width: 90%;
    max-width: 90%;
    min-height: 15rem;
    max-height: 15rem;
    resize: none; 
    padding: 0.5rem;
}

.errorKey{
    display: block;
    width: 100%;
    background: #9dd6b3;
}
.pSpecial
{
    background: white;
    box-sizing: border-box;
    margin: 1rem 0.8rem 1rem 0.8rem;
    padding: 0.7rem;
    border: 0.2rem solid rgb(126, 124, 107);
}
.divSpecial
{
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(240, 236, 236);
    font-size: 1.4rem;
    box-sizing: border-box;
}