*
{
    margin: 0;
    padding: 0;
}
#padre
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/*PRIMERA VENTANA*/
#first
{
    flex: 1;
    display: flex;
}
#key
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#keyNumber
{
    display: flex;
    flex-direction: column;
}
.number
{
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1883ba;
    border: 0.1rem solid #0016b0;
}
.resize
{
    height: 100%;
    width: 10%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}
/*SECUNDA VENTANA*/
#second
{
    width: 90%;
}
#second h1
{
    text-align: center;
    background: yellow;
}
#encrypt
{
    width: 100%;
    background: yellow;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/*Cuerpo de la segunda ventana*/
#secondBody
{
    background: gray;
    display: flex;
    flex-direction: column;
}
#secondBody p
{
    text-align: center;
    margin: 2rem 0.1rem;
}
#text
{
    margin: 3rem auto 0 auto;
    min-width: 90%;
    max-width: 90%;
    min-height: 15rem;
    max-height: 15rem;
    resize: none; /*MIERDA AL FIN LO LOGREE!!!!*/
}
#button
{
    display: flex;
    justify-content: space-around;
    background: rebeccapurple;
}
.button
{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1883ba;
    border: 0.1rem solid #0016b0;
}




